[Unit]
Description=Observe NightMon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/bin/bash /usr/local/bin/observe_nightmon.bash

StandardOutput=append:/home/sand/nightmon.log
StandardError=append:/home/sand/nightmon.log

[Install]
WantedBy=multi-user.target
